
.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    & > input {
        padding: 5px;
        font-size: 1.2rem;
    }

    & > label {
        font-weight: bold;
    }
}

input::placeholder {
  font-size: 0.7rem;
}

.input-remember {
  display: flex;

  & > label {
    margin-left: 0.25rem;
  }
}

.btn-signIn {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  color: #fff;
  transition-duration: 0.4s;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #222;
    color: #FFFF;
  }
}

.error-message {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 0.5rm;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #FFFF;
  background-color: #dc3545;
  border: none;
}
